.card-holder{
    width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.selectDate{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}
